.zalo-icon,
.call-icon,
.facebook-icon {
	position: fixed;
	right: 20px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 1000;
}

/* Đặt icon Zalo ở vị trí đáy */
.zalo-icon {
	bottom: 140px; /* Điều chỉnh khoảng cách nếu cần */
}

/* Đặt icon gọi điện ngay bên dưới icon Zalo */
.call-icon {
	bottom: 20px;
	color: green;
}

.facebook-icon {
	bottom: 80px;
}

/* Hiệu ứng rung lắc ngang khi di chuột */
.zalo-icon:hover,
.call-icon:hover,
.facebook-icon:hover {
	animation: shake-horizontal 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake-horizontal {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0);
	}
}
